#Project
saves/*
!saves/.gitkeep

accounts/*
!accounts/.gitkeep

cookies/*
!cookies/.gitkeep

current_fdb/*
!current_fdb/.gitkeep

README2.md

#Non Project 
.vscode/
code/__pycache__
myenv/
.DS_Store

#Shit
github-git-cheat-sheet.pdf