#Python
python/saves/*
!python/saves/.gitkeep

python/accounts/*
!python/accounts/.gitkeep

python/cookies/*
!python/cookies/.gitkeep

python/current_fdb/*

.vscode/
python/code/__pycache__
myenv/
.DS_Store

#Shit
github-git-cheat-sheet.pdf

#Swift

swift/Feedback X.xcodeproj

