#Project
python/saves/*
!saves/.gitkeep

python/accounts/*
!accounts/.gitkeep

python/cookies/*
!cookies/.gitkeep

python/current_fdb/*
!current_fdb/.gitkeep

README2.md

#Non Project 
.vscode/
python/code/__pycache__
myenv/
.DS_Store

#Shit
github-git-cheat-sheet.pdf